.message {
    display: flex;
    justify-content: right;
    margin: 20px 30px;
}

.imageAndText {
    background-color: #0066CC;
    border-radius: 16px;

}

.imageAndText img {
    display: flex;
    height: 50px;
    background-color: white;
    margin: 10px;
}

.text {
    color: white;
    padding: 10px;
}

.text:after {

}

.name {
    display: flex;
    justify-content: right;
    color: white;
    font-weight: 600;
}

.messageText {

}

.time {

}